@font-face {
  font-family: "Origo Pro";
  src: url("fonts/OrigoPro-Regular.eot");
  src: url("fonts/OrigoPro-Regular.eot?#iefix") format("embedded-opentype"),
    url("fonts/OrigoPro-Regular.woff2") format("woff2"),
    url("fonts/OrigoPro-Regular.woff") format("woff"),
    url("fonts/OrigoPro-Regular.ttf") format("truetype"),
    url("fonts/OrigoPro-Regular.svg#Origo Pro") format("svg");
}
body {
  color: #004235;
  background-image: url("images/giraffe.svg");
  background-size: 150%;
  font-family: "Origo Pro";
  font-weight: Regular;
}
.dark-mode {
  background-color: #000000;
  background-repeat: repeat;
  color: #ccffdb;
  font-family: "Origo Pro";
  font-weight: Regular;
  a:visited {
    color: #5e5e5e;
  }
  a:link {
    color: #bbeeca;
  }
  a:hover {
    color: #ca88df;
  }
  a:active {
    color: #004235;
  }
}
.hero {
  padding-top: 110px;
  .section-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.5;
    font-size: 22px;
    .text {
      width: 40%;
      h1 {
        font-size: 50px;
      }
    }
  }
}
@media (max-width: 768px) {
  .hero {
    padding-top: 10px;
    .section-cont {
      display: flex;

      flex-flow: column-reverse;
      .text {
        width: 80%;
      }
    }
  }
}
