{% macro render_header() %}

<nav class="navbar">
  <!-- LOGO -->
  <div class="logo">
    <img src="{{get_url(path=config.extra.logo_path)}}" alt="logo" />
  </div>
  <!-- NAVIGATION MENU -->
  <ul class="nav-links">
    <!-- USING CHECKBOX HACK -->
    <div class="mobile-nav">
      <select name="drop-down" id="drop-down">
        <option value="one">One</option>
        <option value="two">Two</option>
        <option value="three">Three</option>
      </select>
      <div class="checkbox">
        <input
          onclick="myFunction()"
          type="checkbox"
          class="switch"
          id="b1"
          checked
        />
      </div>
      <input type="checkbox" id="checkbox_toggle" />
      <label for="checkbox_toggle" class="hamburger">&#9776;</label>
    </div>

    <!-- NAVIGATION MENUS -->
    <div class="menu">
      {% for item in config.extra.navbar_items %} {% for nav in item.nav_items
      %}
      <li class="services">
        <a href="#"> {{nav.name}} </a>

        {% if nav.dropdown %}
        <ul class="dropdown">
          {% for option in nav.dropdown%}
          <li><a href="#">{{option}}</a></li>
          {% endfor %}
        </ul>
        {%endif%}
      </li>

      {% endfor %} {% endfor %}
      <li class="languages">
        <select name="drop-down" id="drop-down">
          <option value="one">One</option>
          <option value="two">Two</option>
          <option value="three">Three</option>
        </select>
      </li>
      <li class="li_checkbox">
        <div class="checkbox">
          <input
            onclick="myFunction()"
            type="checkbox"
            class="switch"
            id="b1"
            checked
          />
        </div>
      </li>
    </div>
  </ul>
</nav>

{% endmacro render_header %}
