{% macro render_header() %}

<nav class="navbar">
  <!-- LOGO -->
  <div class="logo">
    <img src="{{get_url(path=config.extra.logo_path)}}" alt="logo" />
  </div>
  <!-- NAVIGATION MENU -->
  <ul class="nav-links">
    <!-- USING CHECKBOX HACK -->

    <div class="mobile-nav">
      <select onchange="window.location.href=this.value; value=this.value">
        <option value="/fr">
          <a href="#"> <i class="fa-solid fa-flag-usa">FR</i></a>
        </option>
        <option value="/#">
          <i class="fa-regular fa-flag-{{config.extra.usa_icon}}">EN</i>
        </option>
      </select>

      <div class="checkbox">
        <i
          onclick="myFunction()"
          class="fa fa-sun-o"
          style="font-size: 36px"
        ></i>
        <i
          onclick="myFunction()"
          class="fa fa-moon-o"
          style="font-size: 36px"
        ></i>
      </div>
    </div>
    <input type="checkbox" id="checkbox_toggle" />
    <label for="checkbox_toggle" class="hamburger">&#9776;</label>
    <!-- NAVIGATION MENUS -->
    <div class="menu">
      {% for item in config.extra.navbar_items %} {% if lang == item.code %} {%
      for nav in item.nav_items %}
      <li class="services">
        <a href="#"> {{nav.name}} </a>

        {% if nav.dropdown %}
        <ul class="dropdown">
          {% for option in nav.dropdown%}
          <li><a href="#">{{option}}</a></li>
          {% endfor %}
        </ul>
        {%endif%}
      </li>

      {% endfor %} {% endif %} {% endfor %}

      <div class="remove_on_mobile">
        <select onchange="window.location.href=this.value; value=this.value">
          <option value="/fr">
            <a href="#"> <i class="fa-solid fa-flag-usa">FR</i></a>
          </option>
          <option value="/#">
            <i class="fas fa-usa">EN</i>
          </option>
        </select>

        <div class="checkbox">
          <i
            onclick="myFunction()"
            class="fa fa-sun-o"
            style="font-size: 36px"
          ></i>
          <i
            onclick="myFunction()"
            class="fa fa-moon-o"
            style="font-size: 36px"
          ></i>
        </div>
      </div>
    </div>
  </ul>
</nav>

{% endmacro render_header %}
