{% import "_macros.html" as macros %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{get_url(path='navbar.css')}}" />
    <link rel="stylesheet" href="{{get_url(path='home.css')}}" />
    <title>Document</title>
  </head>
  <body>
    <header>{{ macros::render_header() }}</header>

    <div class="hero">{% block content %}{% endblock %}</div>
    <script>
      function myFunction() {
        var element = document.body;
        element.classList.toggle("dark-mode");
        console.log("clicked");
      }
    </script>
  </body>
</html>
